.headerContent {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.headerLinks {
    display: flex;
    justify-content: space-around;
    height: 40px;
}

.button-spacing {
    margin-right: 40px !important;
}

a {
    color: #B5B5B5;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 40px !important;
}