.container {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.logo {
    width: 800px;
    height: 700px;
}

.button-container {
    margin: 56px 0;
}